<%- include('partials/header') %>

<div class="container bg-dark">
  <div class="jumbotron centered bg-dark">
    <i class="fa fa-user-secret fa-6x"></i>
    <h1 class="display-3 text-light">Spy Bulletin</h1>
    <p class="secret-text bg-dark text-light">Mustache and Sunglasses, What is your message?</p>

    <form action="/submit" method="POST">

      <div class="form-group bg-dark text-light">
        <input type="text" class="form-control text-center bg-dark text-light" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
