
body {
  background-color: rgb(0, 0, 0);
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0,.2);
  background-color: rgb(229, 229, 229);
}
